input.form-control{
    margin-bottom:5px;
}

.form-group{
    overflow: scroll;
    padding-bottom:40px;
}

p.navbar-text.pull-right{
    margin-right:15px ;
}
body {
    padding-top:60px;
    overflow: scroll;
}


